.header {
  display: flex;
  align-items: center;
  background: #fff;

  h1 {
    margin-bottom: 0;
  }
}

.action {
  margin-left: auto;

  > * {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
